<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pet</title>
    <!-- <link rel="stylesheet" href="/css/app.css"> -->
</head>
<body>

<h1>ADD YOUR FUR-BABY</h1>

<form action="/pets" method="POST">
    Name: <input type="text" name="name" />
    Breed: <input type="text" name="breed" />
    Age: <input type="number" name="age" />
    Tricks <input type="text" name="tricks" />
    <input type="submit" name="" value="Register Pet"/>

</form>




    
</body>
</html>