<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Parents</title>
</head>
<body>
    <h1>Pet Training Tracker</h1>

    <nav>
        <a href="/petParents/register">Register</a><br>
        <a href="/petParents/login">Login</a>
    </nav>
</body>
</html>